<h1>ユーザー情報更新</h1>
<div class="container">
  <%= form_for(@user) do |f| %>
    <div class="form-group">
        <%= render 'shared/error_messages', object: f.object %>
    </div>
    <div class="form-group">
        <%= f.label :name, class:"control-label" %>
        <div>
            <%= f.text_field :name, class:'form-control'%>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :email, class:"control-label" %>
        <div>
            <%= f.text_field :email, class:'form-control'%>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :password, class:"control-label" %>
        <div>
            <%= f.password_field :password, class:'form-control'%>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :password_confirmation, class:"control-label" "Confirmation" %>
        <div>
            <%= f.password_field :password_confirmation, class:'form-control'%>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :birthday, class:"control-label"  %>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <%= f.date_select :birthday, {order: [ :year, :month, :day ], use_month_numbers: true,
              start_year:1930, end_year:(Time.now.year), default: Date.new(1990, 1, 1), :include_blank => true}, {class: "form-control"} %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :registered, class:"control-label"  %>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <%= f.date_select :registered, {order: [ :year, :month, :day ], use_month_numbers: true, 
              start_year: Time.now.year,  end_year: 2007, default:Date.today, :include_blank => true} , {class: "form-control"} %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.submit "更新", class: "btn btn‐large btn‐primary" %>
    </div>
  <%end %>
</div>
